/* .MuiTableRow-root td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .MuiTableRow-root td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  } */
.table-fonts {
  color: #333;
  font-family: Univers Next for HSBC;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
}